mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      stat-view-servlet: #配置监控台
        enabled: true #启用
        url-pattern: /druid/* #根据配置中的url-pattern来访问内置监控页面，如果是上面的配置，内置监控页面的首页是/druid/index.html
        login-username: root
        login-password: root
      db1:
        breakAfterAcquireFailure: true #请求报错后立即停止
        initial-size: 6 #初始化时建立物理连接的个数。初始化发生在显示调用init方法，或者第一次getConnection时
        max-active: 10 #最大连接池数量
        min-idle: 6 #最小连接池数量
        max-wait: 60000 #获取连接时最大等待时间，单位毫秒。配置了maxWait之后，缺省启用公平锁，并发效率会有所下降，如果需要可以通过配置useUnfairLock属性为true使用非公平锁。
        pool-prepared-statements: true #	是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭
        max-pool-prepared-statement-per-connection-size: 20 #要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。在Druid中，不会存在Oracle下PSCache占用内存过多的问题，可以把这个数值配置大一些，比如说100
        time-between-eviction-runs-millis: 60000 #有两个含义：1) Destroy线程会检测连接的间隔时间，如果连接空闲时间大于等于minEvictableIdleTimeMillis则关闭物理连接 2) testWhileIdle的判断依据，详细看testWhileIdle属性的说明
        min-evictable-idle-time-millis: 30000 #连接保持空闲而不被驱逐的最小时间
        max-evictable-idle-time-millis: 600000
        validation-query: SELECT 1 FROM DUAL #用来检测连接是否有效的sql，要求是一个查询语句，常用select 'x'。如果validationQuery为null，testOnBorrow、testOnReturn、testWhileIdle都不会起作用。
        test-on-borrow: false #申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。
        test-on-return: false #归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。
        test-while-idle: true #建议配置为true，不影响性能，并且保证安全性。申请连接的时候检测，如果空闲时间大于timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效。
        connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000 #通过connectProperties属性来打开mergeSql功能；慢SQL记录
        filters: stat,wall
      driverClassName: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://192.168.79.130:3306/report?useTimezone=true&serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=UTF-8
      username: root
      password: 123456
