<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vic.report.mapper.ReportMapper">
    <resultMap id="report" type="com.vic.report.model.ReportDaoEntity">
        <id column="id" property="id"/>
        <result column="name" property="userName" />
        <result column="id_card" property="idCard"/>
        <result column="report" property="reportByte"/>
    </resultMap>
    <select id="listReports" resultMap="report">
        select id,name,id_card from report
        where 1 =1
        <if test="userName != ''" >
            and name like CONCAT('%',#{userName},'%')
        </if>
    </select>
    <select id="getReport" resultMap="report">
        select * from report
        where  id_card = #{idCard}
    </select>
    <insert id="insertReport">
        insert  into report(id,name,id_card,report) values (#{id},#{userName} ,#{idCard},#{report})
    </insert>

    <delete id="removeReport">
        delete from report where id_card = #{idCard}
    </delete>
</mapper>